<div class="addReader" ng-controller="readerCtrl">
    <h3>添加读者信息：</h3>
    <form  class="form-horizontal" method="post">
        <label for="read_name" class="control-label">姓名:</label>
        <input type="text" id="read_name" ng-model="data.name">
        <br>
        <label class="control-label" >性别:</label>
        <input type="radio" name="sex" ng-click="sexEnsure='man'"/>man
        <input type="radio" name="sex" ng-click="sexEnsure='woman'"/>woman
        <br/>
        <label for="read_tel" class="control-label">电话:</label>
        <input type="text" id="read_tel" ng-model="data.tel"/>
        <br/>
        <label for="read_email" class="control-label">邮箱: </label>
        <input type="email" id="read_email" ng-model="data.email"/>
        <br/><br/>
        <input type="submit" value="提交" class="btn-default"
               ng-click="list_submit()"/>
    </form>
</div>